<!DOCTYPE html>
<html lang="pt-BR" ng-app="blogMax">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Blog</title>

    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!--Styles-->
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
 <!-- Título principal -->
<header id="main-header">
    <div class="container">
        <div class="logo">
            <a href="#">Blog Legal</a>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Postagens</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>


<!-- Conteúdo do post -->
<div class="container" ng-controller="RestMax">
    <div class="row">
        <div ng-if="publicacoes"> <!--col-md-8 col-md-offset-2-->
            <div class="card" id="cardpost">
                <h2>{{ publicacoes.title }}</h2>
                        <img class="imgpost" ng-src="{{ publicacoes.thumbImage }}" alt="{{ publicacoes.thumbImageAltText }}">
                <p>{{ publicacoes.description }}</p>
                <div class="btn-voltar">
                    <a href="index.html" class="btn btn-primary" ng-click="index($index)">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>